
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="container" id="DashBoard" autoui-data="type:page, childModels:AdministratorNavMainNav" style="max-width: 350px">
<div id="koContainer">

</div>
</div>