@page "/"
@using System.Diagnostics
@namespace KudoCode.Web.Blazor.Application.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var baseUrl = $"{@HttpContext.Request.Scheme}://{@HttpContext.Request.Host}";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KudoCode.Web.Blazor.Application</title>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <script type="text/javascript" src="@baseUrl/Scripts/numeral.min.js"></script>
    <script type="text/javascript" src="@baseUrl/Scripts/KudoCodeCurrencyInput.js"></script>
    <script type="text/javascript" src="@baseUrl/Scripts/KudoCodeDecimalInput.js"></script>
    <script type="text/javascript" src="@baseUrl/Scripts/Scripts.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

    @* <script type="text/javascript" src="@baseUrl/Scripts/datetimepicker.js"></script> *@
    @* <link rel="stylesheet" href="@baseUrl/css/datetimepicker.css"/> *@


    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="@baseUrl/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="@baseUrl/css/default.css">

    @* TOASTER*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


    @* <link href="css/bootstrapDateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet"/> *@
</head>
<body>
    <app>@(await Html.RenderComponentAsync<App>(RenderMode.Server))</app>

    <script src="@baseUrl/_framework/blazor.server.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {

            var mutationObserver = new MutationObserver(function (mutations) {
                mutationObserver.disconnect();
                var x = document.getElementsByClassName("RadzenDateTime");
                for (var i = 0; i < x.length; i++) { x[i].classList.remove("rz-inputtext"); }
                mutationObserver.observe(document.documentElement, {
                subtree: true,
                attributeOldValue: true,
                });
            });

            mutationObserver.observe(document.documentElement, {
                subtree: true,
                attributeOldValue: true,
            });

        });

        $(window.timeZoneOffset = () => {
            return new Date().getTimezoneOffset() / 60;
        };);



        $(function () {
            window.KudoCodeModal = {
                open: function (id) {
                    $('#' + id).modal('show');
                    return "true";
                },
                close: function (id) {
                    $('#' + id).modal('hide');
                    return "true";
                }
            }
        });

        $(function () {
            window.Toast = {
                success: function (heading, message) {
                    toastr.success(heading, message);
                    return "true";
                },
                error: function (heading, message) {
                    toastr.error(heading, message);
                    return "true";
                },
                warning: function (heading, message) {
                    toastr.warning(heading, message);
                    return "true";
                },
                info: function (heading, message) {
                    toastr.info(heading, message);
                    return "true";
                }
            }
        });

        $(function () {
            // $('#datetimepicker1').datetimepicker();
        });

        window.customizationJsFunctions = {
            getSelectedDate: function (id) {
                return document.getElementById(id).value;
            },
            setSelectedDate: function (selectedDate, id) {
                document.getElementById(id).value = selectedDate;
                return "OK";
            }
        };

    </script>

</body>
</html>