@namespace VxFormGenerator.Form

@typeparam TFormElement
@inherits  FormElementComponent<TFormElement>

<div>
    @if (!string.IsNullOrWhiteSpace(FormColumnDefinition.RenderOptions.Label) && FormColumnDefinition.RenderOptions.ShowLabel)
    {
        <label class="col-form-label" for="@Id">@FormColumnDefinition.RenderOptions.Label</label>
    }

    @*@CreateComponent()*@

    <KudoCode.Abstract.Web.Blazor.Validation.VxValidationMessage For="@ValueExpression">

    </KudoCode.Abstract.Web.Blazor.Validation.VxValidationMessage>
</div>